<!--Header Begin-->
<header>
  <!--Top Header Begin-->
  <div class="top-header container-fluid">
  <input type="hidden" id="path" value="/">
  <input type="hidden" id="page_name" value="">
  <a href="#requestcallback" class="req-call-back" data-toggle="modal" id="request_for_call_back">
    <i class="fa fa-phone pull-left"></i> <span>Have an Idea? Drop in !dea Box </span>
  </a>
    <nav class="top-header-menu navbar-right">
      <ul class="nav nav-top">
        <li>
          <a href="https://twitter.com/idealogylabs" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="http://www.linkedin.com/company/3685720" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/idealogylabs" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
      </ul>
    </nav>
  </div>
  <!--Top Header End-->
  <!--Bottom Header End-->
    <div class="bottom-header container-fluid main-head" id="slide-nav">
      <h1 class="navbar-brand">
        <!-- <i class="fa fa-lightbulb-o"></i> <a href="/">Idealogy Labs</a> -->
        <a href="/">
          <img src="/assets/img/idealogy_labs_red1.png" style="width:140px; height:40px;"></img>
        </a>
      </h1>
    <nav id="horizontal-menu" class="bottom-header-menu navbar-right hidden-sm hidden-xs">
      <ul class="nav">
        <li>
          <a href="/about-us">About</a>
        </li>
        <li>          
          <a href="#" id='services'>Services</a>
          <div class="mega-menu-small">
            <ul class="vertical-menu">
              <li><a href="/services/startup-acceleration">StartUp Acceleration</a></li>
              <li><a href="/services/product-development">Product Development</a></li>
              <li><a href="/services/extended-teams">Extended Teams</a></li>
              <li><a href="/services/cyber-security">Cyber Security</a></li>
              <li><a href="/services/digital-image-branding">Digital Image Branding</a></li>
            </ul>
          </div>
        </li>
        <li>          
          <a href="#" id='technologies'>Technologies</a>
          <div class="mega-menu-small">
            <ul class="vertical-menu">
              <li><a href="/technologies/center-of-excellences.html">Center Of Excellences</a></li>
              <li><a href="/technologies/domains.html">Technology Domains</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/contact-us">Contact Us</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li class="search">
          <form class="form-inline transition-search" action="/search" onSubmit="return header_search()">
            <div class="search-course clearfix">
              <div class="typeahead-container">
                <div class="typeahead-field">
                  <span class="typeahead-query">
                    <input id="desktop-q" name="q" type="search" placeholder="Type the course name here.." autocomplete="off" />
                  </span>
                </div>
              </div>
            </div>
          </form>
        </li>
      </ul>
    </nav>
    <a class="open-menu-btn pull-right visible-sm visible-xs" href="javascript:void(0);">
      <i class="icon icon-bars"></i>
    </a>
    <nav id="slidemenu" class="visible-sm visible-xs">
      <form>
        <div class="typeahead-red">
          <div class="typeahead-container">
            <div class="typeahead-field">
              <span class="typeahead-query">
                <input id="responsive-q" name="lean" type="search" placeholder="" autocomplete="off" />
              </span>
            </div>
           </div>
         </div>
      </form>      
    </nav>
  </div><!--Bottom Header End-->
</header>